/*https://gridbyexample.com/examples/example5/*/



.login-container-grid {
    /*margin-top: var(--navbar-height);*/
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height));
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    /*border-style: solid;*/
    /*border-color: red;*/
}



.message {
    grid-column-start: 10;
    grid-column-end: 75;
    grid-row-start: 22;
    grid-row-end: 27;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    color: red;
}


.succes-message {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.loading-message {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 1;
    grid-row-end: 10;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.form {
    grid-column-start: 40;
    grid-column-end: 90;
    grid-row-start: 25;
    grid-row-end: 75;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
}


.label-input-username {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 1;
    grid-row-end: 5;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.input-username {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 5;
    grid-row-end: 10;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


.label-input-email {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 16;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


.input-email {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 21;
    grid-row-end: 25;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.label-input-password {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 30;
    grid-row-end: 35;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


.input-password {
    grid-column-start: 1;
    grid-column-end: 50;
    grid-row-start: 35;
    grid-row-end: 40;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}



.filling-form-error-message {
    grid-column-start: 15;
    grid-column-end: 25;
    grid-row-start: 25;
    grid-row-end: 30;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}




.login-btn {
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 45;
    grid-row-end: 50;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.on-success-new-login-button {
    grid-column-start: 15;
    grid-column-end: 25;
    grid-row-start: 25;
    grid-row-end: 30;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}


