a.link-to-description, a.link-to-description:link, a.link-to-description:visited, a.link-to-description:focus, a.link-to-description:hover, a:active{
    color: gray;
    text-decoration:none;
    cursor: pointer;
}

.delete-painting-link{
    color: gray;
    text-decoration:none;
    cursor: pointer;
}


.painting-tile {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--milky-white);
    color: var(--drk-grey);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
    width: 25%;
}

.painting-tile-grid {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: var(--default-font-size);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    width:var(--painting-image-width-in-list);
    height:var(--painting-image-height-in-list);
    background-color: var(--milky-white);
    color: var(--drk-grey);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: thin;
}

.painting-tile-grid-image-container {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 11;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;

}

.painting-tile-grid-metadata-container {
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 15;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: red;*/
}


ul.list-summarize-painting-data {
    list-style-type: none; /*Remove bullets */
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--milky-white);
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: orange;*/
    /*border-color: var(--milky-white);*/
    color: var(--drk-grey);
    width:100%;
    /*width:var(--painting-image-width-in-list);*/

}

.list-summarize-painting-data-item {
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    color: var(--drk-grey);

}

/*https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit*/
.image {
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    height: 100%;/*var(--painting-image-width-in-list);*/
    width: 100%;/*var(--painting-image-width-in-list);*/
    object-fit: scale-down;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    /*border-style: solid;*/
    /*border-color: yellow;*/
    /*border-width: thick;*/
}


.no-post-to-display {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: red;*/
}

