/*https://gridbyexample.com/examples/example5/*/


.home-container-grid {
    margin: 0;
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    width: 100%;
    height: calc(var(--project-height) - var(--navbar-height) - var(--footer-height));
    /*min-width: 100vw;*/
    /*height: 100%;*/
    /*min-height: 100vh;*/
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    border-style: solid;
    border-color: var(--light-grey);
}

.our-vision {
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 10;
    grid-row-end: 45;
    font-family: var(--font-family);
    font-size: 12px;
    color: rgba(0,0,0, 1.0) /*var(--drk-grey)*/;
    background-color: rgba(255,255,255, 0.85);
    /*opacity: 0.8;*/
    padding-left: 5px;
    padding-right: 5px;
}


.about-us {
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 50;
    grid-row-end: 90;
    font-family: var(--font-family);
    font-size: 12px;
    color: rgba(0,0,0, 1.0) /*var(--drk-grey)*/;
    background-color: rgba(255,255,255, 0.8);
    /*opacity: 0.7;*/
    padding-left: 5px;
    padding-right: 5px;
}


.welcome {
    grid-column-start: 40;
    grid-column-end: 70;
    grid-row-start: 45;
    grid-row-end: 49;
    font-family: var(--font-family);
    font-size: 20px;
    color: rgba(0,0,0, 1.0) /*var(--drk-grey)*/;
    background-color: rgba(255,255,255, 0.7);
    /*opacity: 0.7;*/
    padding-left: 5px;
    padding-right: 0px;
}

.painting {
    grid-column-start: 1;
    grid-column-end: 100;
    grid-row-start: 1;
    grid-row-end: 100;
    font-family: var(--font-family);
    font-size: 10px;
    background-repeat: no-repeat; /* Do not repeat the image */
    /*background-position: center; !* Center the image *!*/
    /*background-size: cover;*/ /* Resize the background image to cover the entire container */
}

.what-is-it-all-about {
    grid-column-start: 72;
    grid-column-end: 92;
    grid-row-start: 10;
    grid-row-end: 90;
    font-family: var(--font-family);
    font-size: 12px;
    color: rgba(0,0,0, 1.0) /*var(--drk-grey)*/;
    background-color: rgba(255,255,255, 0.8);
    /*opacity: 0.7;*//*we use transparency in 4th rgba parameter instead of opacity*/
    padding-left: 5px;
    padding-right: 0px;
}
