/*https://gridbyexample.com/examples/example5/*/

body {
    margin: 40px;
}


.painting-container-grid {
    /*margin-top: var(--navbar-height);*/
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height));
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    overflow-y: scroll;
}



.conversation-button {
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}



.image-container-grid {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 5;
    grid-row-end: 40;
    border-style: solid;
    border-width: thin;
    border-color: grey;

}

.title-painting-data-box {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 41;
    grid-row-end: 42;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.list-painting-data {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 42;
    grid-row-end: 52;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    list-style-type: none; /* Remove bullets */
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: grey;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}



.title-supplemental-material-box {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 54;
    grid-row-end: 55;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.painting-supplemental-material-box {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 55;
    grid-row-end: 70;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    list-style-type: none; /* Remove bullets */
    border-style: solid;
    border-width: thin;
    border-color: grey;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}


.title-audio-material-box {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 72;
    grid-row-end: 73;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}



.audio-material {
    grid-column-start: 5;
    grid-column-end: 40;
    grid-row-start: 74;
    grid-row-end: 90;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}



.list-audio-data {
    list-style-type: none; /* Remove bullets */
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.list-supplemental-material {
    list-style-type: none; /* Remove bullets */
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.title-blog-box {
    grid-column-start: 70;
    grid-column-end: 95;
    grid-row-start: 3;
    grid-row-end: 5;
    font-family: var(--font-family);
    font-size: 12px;/*var(--default-font-size);*/
}

.blog-box {
    grid-column-start: 50;
    grid-column-end: 95;
    grid-row-start: 5;
    grid-row-end: 90;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
    overflow-y: scroll;
}


.initial-description {
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    min-height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}



/*for more audio styling see https://opensource.apple.com/source/WebCore/WebCore-1889.1/css/mediaControls.css.auto.html*/
audio {
    width: 200px;
    height: 16px;
}
