/*https://gridbyexample.com/examples/example5/*/


.board-user-container-grid {
    margin-top: 0;/*var(--navbar-height);*/
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height));
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    /*border-style: solid;*/
    /*border-color: blueviolet;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
    /*width: 960px;*/
    /*height: 100px;*/
    /*margin-top: var(--navbar-height);*/
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    /*border-top: 2px dotted var(--milky-white);*/
    /*border-bottom: 2px dotted var(--milky-white);*/
}

.container-pages {
    grid-column-start: 1;
    grid-column-end: 100;
    grid-row-start: 5;
    grid-row-end: 100;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: space-around;/*center;flex-start;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-color: red;*/
}

.new-project-button {
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
}

.CSS-grid-test-1 {
    grid-column-start: 15;
    grid-column-end: 22;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.CSS-grid-test-2 {
    grid-column-start: 24;
    grid-column-end: 31;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}

