.user-buttons {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    margin-right: 20px;
    width: 80%;
}

.my-button-wrapper {
    font-family: var(--font-family);
    background-color: var(--drk-grey);
    background-color: red;
    color: var(--milky-white);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    /*    width: 200px;*/
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.my-button-wrapper-within-form {
    font-family: var(--font-family);
    background-color: var(--milky-white);
    color: var(--drk-grey);
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /*    width: 200px;*/
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.my-primary-button {
    color: var(--milky-white);
    background-color: var(--drk-grey);
    padding: 10px 10px;
    border-radius: 8px;
    /*    border: 2px dotted var(--milky-white);*/
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: orange;
    /*border-color: red;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}