.btn-basic {
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}

.new-project-button {
    grid-column-start: 14;
    grid-column-end: 22;
    grid-row-start: 4;
    grid-row-end: 7;
    border-color: green;
}

.send-question-button {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}

.upload-painting-image-button {
    grid-column-start: 40;
    grid-column-end: 50;
    grid-row-start: 5;
    grid-row-end: 10;
}

.edit-project-button {
    grid-column-start: 35;
    grid-column-end: 40;
    grid-row-start: 3;
    grid-row-end: 4;
}

.react-to-question-button {
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 2;
}

.upload-painting-image-button {
    grid-column-start: 40;
    grid-column-end: 50;
    grid-row-start: 5;
    grid-row-end: 10;
}

.upload-music-file-button {
    grid-column-start: 60;
    grid-column-end: 70;
    grid-row-start: 5;
    grid-row-end: 10;
}


.upload-supplementary-files-button {
    grid-column-start: 80;
    grid-column-end: 90;
    grid-row-start: 5;
    grid-row-end: 10;
}


.add-reaction-submit-button {
    grid-column-start: 50;
    grid-column-end: 60;
    grid-row-start: 70;
    grid-row-end: 75;
}

.on-success-new-reaction-button {
    grid-column-start: 35;
    grid-column-end: 45;
    grid-row-start: 35;
    grid-row-end: 40;
}

.on-success-back-to-user-board-button {
    grid-column-start: 55;
    grid-column-end: 65;
    grid-row-start: 35;
    grid-row-end: 40;
}

.edit-project-retry-button {
    grid-column-start: 52;
    grid-column-end: 62;
    grid-row-start: 80;
    grid-row-end: 85;
}

.submit-update-button {
    grid-column-start: 42;
    grid-column-end: 52;
    grid-row-start: 80;
    grid-row-end: 85;
}

.upload-updated-supplementary-files-button {
    grid-column-start: 73;
    grid-column-end: 83;
    grid-row-start: 49;
    grid-row-end: 54;

}

.upload-updated-music-file-button {
    grid-column-start: 73;
    grid-column-end: 83;
    grid-row-start: 9;
    grid-row-end: 14;
}

.upload-updated-painting-image-button {
    grid-column-start: 42;
    grid-column-end: 52;
    grid-row-start: 9;
    grid-row-end: 14;
}

.from-edit-back-button {
    grid-column-start: 44;
    grid-column-end: 51;
    grid-row-start: 35;
    grid-row-end: 40;
}


.on-success-back-to-user-board-button {
    grid-column-start: 55;
    grid-column-end: 65;
    grid-row-start: 35;
    grid-row-end: 40;
}

.on-success-new-reaction-button {
    grid-column-start: 35;
    grid-column-end: 45;
    grid-row-start: 35;
    grid-row-end: 40;
}


.add-reaction-upload-painting-image-button {
    grid-column-start: 40;
    grid-column-end: 50;
    grid-row-start: 5;
    grid-row-end: 10;
}

.add-reaction-upload-music-file-button {
    grid-column-start: 60;
    grid-column-end: 70;
    grid-row-start: 5;
    grid-row-end: 10;
}

.add-reaction-upload-supplementary-files-button {
    grid-column-start: 80;
    grid-column-end: 90;
    grid-row-start: 5;
    grid-row-end: 10;

}



.add-reaction-submit-button {
    grid-column-start: 50;
    grid-column-end: 60;
    grid-row-start: 50;
    grid-row-end: 55;
}

.download-file-back-to-project-button {
    grid-column-start: 45;
    grid-column-end: 55;
    grid-row-start: 25;
    grid-row-end: 30;
}

.edit-user-on-success-back-to-administrator-board-button {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 11;
}

.edit-user-delete-user-button {
    grid-column-start: 11;
    grid-column-end: 19;
    grid-row-start: 45;
    grid-row-end: 48;
}

.edit-user-update-user-button {
    grid-column-start: 11;
    grid-column-end: 19;
    grid-row-start: 50;
    grid-row-end: 53;
}

.play-music-back-to-project-button {
    grid-column-start: 11;
    grid-column-end: 19;
    grid-row-start: 50;
    grid-row-end: 53;
}


.board-admin-home-button {
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 3;
    grid-row-end: 5;
}

.board-admin-remove-all-users-button {
    grid-column-start: 5;
    grid-column-end: 15;
    grid-row-start: 3;
    grid-row-end: 5;
}

.board-moderator-home-button {
    grid-column-start: 20;
    grid-column-end: 30;
    grid-row-start: 2;
    grid-row-end: 4;
}

.board-moderator-remove-all-paintings-button {
    grid-column-start: 5;
    grid-column-end: 15;
    grid-row-start: 2;
    grid-row-end: 4;
}



.initiate-project-retry-button {
    grid-column-start: 85;
    grid-column-end: 95;
    grid-row-start: 15;
    grid-row-end: 20;
}


.submit-initial-project-button {
    grid-column-start: 85;
    grid-column-end: 95;
    grid-row-start: 5;
    grid-row-end: 10;
}


.initial-project-upload-music-file-button {
    grid-column-start: 55;
    grid-column-end: 65;
    grid-row-start: 5;
    grid-row-end: 10;
}

.initial-project-upload-supplementary-files-button {
    grid-column-start: 70;
    grid-column-end: 80;
    grid-row-start: 5;
    grid-row-end: 10;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


.initial-project-on-success-new-project-button {
    grid-column-start: 35;
    grid-column-end: 45;
    grid-row-start: 30;
    grid-row-end: 35;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}

.initial-project-on-success-back-to-user-board {
    grid-column-start: 55;
    grid-column-end: 65;
    grid-row-start: 30;
    grid-row-end: 35;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
}



.initial-project-upload-painting-image-button {
    grid-column-start: 40;
    grid-column-end: 50;
    grid-row-start: 5;
    grid-row-end: 10;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


