/*https://gridbyexample.com/examples/example5/*/

body {
    margin: 40px;
}


.edit-container-grid {
    margin-top: var(--navbar-height);
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height));
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    overflow-y: scroll;
}


.edit-project-form-title {
    grid-column-start: 43;
    grid-column-end: 62;
    grid-row-start: 2;
    grid-row-end: 5;
    font-family: var(--font-family);
    font-size: 12px;
}


.input-updated-title {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 15;
    grid-row-end: 18;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.label-input-updated-title {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 14;
    grid-row-end: 15;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}



.input-updated-artist {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 20;
    grid-row-end: 23;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.label-input-updated-artist {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 19;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}


.input-updated-description {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 26;
    grid-row-end: 46;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    overflow-x: scroll;
    overflow-y: scroll;
}

.label-input-updated-description {
    grid-column-start: 5;
    grid-column-end: 34;
    grid-row-start: 25;
    grid-row-end: 26;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.current-painting-preview-label {
    grid-column-start: 43;
    grid-column-end: 53;
    grid-row-start: 18;
    grid-row-end: 19;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
}

.current-painting-preview {
    grid-column-start: 40;
    grid-column-end: 55;
    grid-row-start: 19;
    grid-row-end: 49;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.new-painting-preview-label {
    grid-column-start: 43;
    grid-column-end: 53;
    grid-row-start: 51;
    grid-row-end: 52;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}
.new-painting-preview {
    grid-column-start: 40;
    grid-column-end: 55;
    grid-row-start: 52;
    grid-row-end: 72;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.successfully-submitted-message {
    grid-column-start: 45;
    grid-column-end: 55;
    grid-row-start: 45;
    grid-row-end: 47;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.on-success-new-project-button {
    grid-column-start: 35;
    grid-column-end: 45;
    grid-row-start: 50;
    grid-row-end: 55;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}

.on-edit-success-back-to-user-board {
    grid-column-start: 54;
    grid-column-end: 61;
    grid-row-start: 35;
    grid-row-end: 40;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}



.list-audio-data {
    list-style-type: none; /* Remove bullets */
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    color: var(--drk-grey);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.list-supplemental-material {
    list-style-type: none; /* Remove bullets */
    font-size: var(--default-font-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    color: var(--drk-grey);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.list-current-audio-files-container-grid {
    grid-column-start: 60;
    grid-column-end: 95;
    grid-row-start: 14;
    grid-row-end: 44;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border-style: solid;
    border-width: thin;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}


.list-selected-audio-files-container-grid {
    grid-column-start: 5;
    grid-column-end: 37;
    grid-row-start: 54;
    grid-row-end: 74;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border-style: solid;
    border-width: thin;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}

.list-selected-files-container-grid {
    grid-column-start: 5;
    grid-column-end: 37;
    grid-row-start: 75;
    grid-row-end: 95;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border-style: solid;
    border-width: thin;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
}


.list-current-files-container-grid {
    grid-column-start: 60;
    grid-column-end: 95;
    grid-row-start: 54;
    grid-row-end: 84;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border-style: solid;
    border-width: thin;
    /*overflow-x: scroll;*/
    overflow-y: scroll;
    /*scrollbar-width: thin;*/
}

.list-current-files-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    grid-column-start: 1;
    grid-column-end: 100;
    grid-row-start: 4;
    grid-row-end: 21;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.current-file-row-grid {
    margin-top: 0px;
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(10, 1fr);
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: 100%;
    height: 50px;
    border-style: solid;
    border-width: thin;
    /*border-style: solid;*/
    /*border-color: blueviolet;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.files-list-element {
    grid-column-start: 2;
    grid-column-end: 100;
    grid-row-start: 2;
    grid-row-end: 10;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    color: var(--drk-grey);
    border-style: solid;
    border-width: thin;
    overflow-x: scroll;
    /*overflow-y: scroll;*/
}



.current-files-box-title {
    grid-column-start: 2;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 2;
    /*font-family: var(--font-family);*/
    /*font-size: 10px;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.current-files-box-header-column-1 {
    grid-column-start: 3;
    grid-column-end: 90;
    grid-row-start: 3;
    grid-row-end: 4;
    /*font-family: var(--font-family);*/
    /*font-size: 10px;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.current-files-box-header-column-2 {
    grid-column-start: 90;
    grid-column-end: 97;
    grid-row-start: 3;
    grid-row-end: 4;
    /*font-family: var(--font-family);*/
    /*font-size: 10px;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.checkbox-files {
    grid-column-start: 92;
    grid-column-end: 97;
    grid-row-start: 3;
    grid-row-end: 4;
    /*font-family: var(--font-family);*/
    /*font-size: 10px;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.deselect-file{
    grid-column-start: 88;
    grid-column-end: 100;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray;
    text-decoration:none;
    cursor: pointer;
    /*font-family: var(--font-family);*/
    /*font-size: 10px;*/
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.edit-project-missingInput-message {
    grid-column-start: 52;
    grid-column-end: 92;
    grid-row-start: 75;
    grid-row-end: 80;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

