/*https://gridbyexample.com/examples/example5/*/

body {
    margin: 40px;
}


.home-container-grid {
    /*margin-top: var(--navbar-height);*/
    margin-top: 0;
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height) - var(--footer-height));
    /*height: calc(var(--project-height));*/
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    border-style: solid;
    border-color: var(--light-grey);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.our-vision {
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 10;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: 12px;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.about-us {
    grid-column-start: 10;
    grid-column-end: 30;
    grid-row-start: 50;
    grid-row-end: 70;
    font-family: var(--font-family);
    font-size: 12px;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}



.welcome {
    grid-column-start: 37;
    grid-column-end: 70;
    grid-row-start: 60;
    grid-row-end: 65;
    font-family: var(--font-family);
    font-size: 20px;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.painting {
    grid-column-start: 40;
    grid-column-end: 60;
    grid-row-start: 10;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: 10px;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.what-is-it-all-about {
    grid-column-start: 70;
    grid-column-end: 90;
    grid-row-start: 10;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: 12px;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
    height:350px;
    background-repeat: no-repeat /*repeat|repeat-x|repeat-y|no-repeat|initial|inherit*/;
}

/*
div.gallery:hover {
    border: 1px solid #777;
}

div.description {
    padding: 15px;
    text-align: center;
}
*/

