.initiateProject-component-container {
    /*width:calc(100% - 2*var(--form-left-right-margin));*/
    width:100%;
    margin-top: var(--navbar-height);
    /*margin-bottom: 10px;*/
    /*margin-left: var(--form-left-right-margin);*/
    /*margin-right: var(--form-left-right-margin);*/
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 12px;
    /*border-radius: 30px;*/
    background-color: yellow;
    color: green;
    border-style: solid;
    border-width: thin;
    border-color: palevioletred;
}

.initiateProject-form-title {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 18px;
    display: inline-block;
    text-align: center;
    /*    background-color: var(--drk-grey);
        color: var(--milky-white);*/
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    padding: 5px;
}

.initiate-project-form-buttons {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--drk-grey);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: red;

    color: var(--milky-white);
    width:calc(100% - 2*var(--form-left-right-margin));/*don't forget the white spaces after _ operator!'*/
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 30px;
}


.preview-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    background-color: var(--drk-grey);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: orange;
    color: var(--milky-white);
    width:calc(100% - 2*var(--form-left-right-margin));/*don't forget the white spaces after _ operator!'*/
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.initiateProject-form-group-of-rows {
    font-family: var(--font-family);
    list-style-type: none; /* Remove bullets */
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    background-color: lightseagreen;
    color: var(--milky-white);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: red;
    border-radius: 30px;
}

.initiateProject-form-row {
    font-family: var(--font-family);
    list-style-type: none; /* Remove bullets */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: green;
    border-radius: 30px;
}

.initiateProject-form-input-elements {
    font-family: var(--font-family);
    list-style-type: none; /* Remove bullets */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-style: dashed;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: magenta;
}