

.painting-tiles {
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
}


.pagination-container {
    /*font-family: var(--font-family);*/
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*center;flex-start;*/
    /*color: var(--drk-grey);*/
    background-color: var(--milky-white);
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    /*border-top: 2px dotted var(--milky-white);*/
    /*border-bottom: 2px dotted var(--milky-white);*/
}

.my-pagination {
    font-family: var(--font-family);
    display: flex;
    flex-direction: row;
    justify-content: center; /*flex-start;*/
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    margin-top: 10px;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*color: red;*/
    font-family: var(--font-family);
}

.prev,
.next {
    background: #fff;
    border: none;
    padding: 10px;
    /*color: blue;*/
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

.paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}
