.painting-question-container {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*background-color: var(--milky-white);*/
    color: var(--drk-grey);
    width: 960px;
    /*height: 100px;*/
    /*border-color: blueviolet;*/
    margin-top: var(--navbar-height);
    margin-left: 15%;
    margin-right: 15%;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
    background-color:greenyellow;
}


.image-container {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--drk-grey);
    /*height: 100px;*/
    width: 200px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
    background-color: var(--milky-white);
    background-color: yellow;
}

.painting-supplemental-material-container {
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
    overflow-y: scroll;
    /*background-color: var(--milky-white);*/
    /*color: var(--drk-grey);*/
    /*width: 960px;*/
    /*height: 100px;*/
    /*border-color: blueviolet;*/
    /*margin-top: var(--navbar-height);*/
    /*margin-left: 15%;*/
    /*margin-right: 15%;*/
    /*border-top: 2px dotted var(--milky-white);*/
    /*border-bottom: 2px dotted var(--milky-white);*/
    /*background-color:greenyellow;*/
}

