/*https://gridbyexample.com/examples/example5/*/

.search-button {
    /*grid-column-start: 1;*/
    /*grid-column-end: 10;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;

}




td, th {
    /*border: 1px solid #999;*/
    padding: 0.5rem;
    text-align: left;
    color: var(--drk-grey);
    background-color: var(--milky-white);
}



table.display-paintings-list {
    /*margin-top: var(--navbar-height);*/
    /*margin-top: 250px;*/
    /*border-top: 2px dotted var(--milky-white);*/
    /*border-bottom: 2px dotted var(--milky-white);*/
    /*border-collapse: collapse;*/
    font-size: var(--default-font-size);
    width: 100%;
    color: var(--drk-grey);
    color: red;
    background-color: var(--milky-white);
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    table-layout: fixed;
}



.actions:hover{
    cursor:pointer;
}