/*https://gridbyexample.com/examples/example5/*/

body {
    margin: 40px;
}


.edit-user-container-grid {
    margin-top: var(--navbar-height);
    margin-top: 0;
    font-family: var(--font-family);/*Helvetica Neue, Arial, sans-serif;*/
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    grid-gap: 0px;
    width: var(--project-width);
    height: calc(var(--project-height) - var(--navbar-height));

    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    border-style: solid;
    overflow-x: scroll;
    overflow-y: scroll;
}


.edit-user-form-title {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.label-input-user-name {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 6;
    grid-row-end: 9;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.input-user-name {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 9;
    grid-row-end: 12;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.label-input-user-email {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 14;
    grid-row-end: 17;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.input-user-email {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 17;
    grid-row-end: 20;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.label-input-user-password {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 22;
    grid-row-end: 25;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.input-user-password {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 25;
    grid-row-end: 28;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}


.label-checkbox-user-is-enabled {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 30;
    grid-row-end: 32;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.checkbox-user-is-enabled {
    grid-column-start: 28;
    grid-column-end: 30;
    grid-row-start: 30;
    grid-row-end: 32;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.label-checkbox-user-is-admin {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 34;
    grid-row-end: 36;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.checkbox-user-is-admin {
    grid-column-start: 28;
    grid-column-end: 30;
    grid-row-start: 34;
    grid-row-end: 36;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.label-checkbox-user-is-moderator {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 38;
    grid-row-end: 40;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.checkbox-user-is-moderator {
    grid-column-start: 28;
    grid-column-end: 30;
    grid-row-start: 38;
    grid-row-end: 40;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.successfully-submitted-message {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 7;
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}



