:root {
    --drk-grey: #343a40;
    --light-grey: #d3d3d3;
    --milky-white: rgba(255,255,255,.5);
    --navbar-height:100px;
    --navbar-top:0;
    --navbar-left:0;
    --navbar-padding-left:0;
    --navbar-padding-right:48px;
    --footer-height:200px;
    --font-family: "Poppins", sans-serif;/*Helvetica Neue, Arial, sans-serif;*/
    --form-left-right-margin:10%;
    --painting-image-width-in-list:250px;
    --painting-image-height-in-list:450px;
    /*--project-width: 1024px;*/
    /*--project-height: 800px;*/
    /*--project-min-width: 1024px;*/
    /*--project-min-height: 800px;*/
    --project-width: 100 vw;
    --project-height: 100 vh;
    --project-height: 950px;
    --project-min-width: 1024px;
    --project-min-height: 800px;
    --project-margin-top: 0px;
    --project-margin-left: 0px;
    --project-margin-bottom: 0px;
    --project-margin-right: 0px;
    --default-font-size:11px;
}

#root {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.app-container {
    width: var(--project-width);
    height: var(--project-height);
    /*width: 100%;*/
    /*height: 100%;*/

    /*min-width: var(--project-min-width);*/
    /*min-height: var(--project-min-height);*/


    /*width: 100%;*/
    /*min-width: 100vw;*/
    /*height: 100%;*/
    /*min-height: 100vh;*/




    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    /*min-height: 100vh; !* will cover the 100% of viewport *!*/
    /*overflow: hidden;*/
/*    position: relative;*/
    /*padding-bottom: 100px; !* height of your footer *!*/
    /*color:#e9b716;*/
}

.app-body {
    width: var(--project-width);
    height: calc(var(--project-height) - (var(--navbar-height) + var(--footer-height)));
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
