:root {
    --drk-grey: #343a40;
    --milky-white: rgba(255,255,255,.5);
    --navbar-height:70px;
    --navbar-top:0;
    --navbar-left:0;
    --navbar-padding-left:0;
    --navbar-padding-right:48px;
    --footer-height:70px;
    --font-family: "Poppins", sans-serif;/*Helvetica Neue, Arial, sans-serif;*/
    --form-left-right-margin:10%;
    --painting-image-width-in-list:225px;
    --painting-image-height-in-list:300px;
    --project-width: 1024px;
    --project-height: 800px;
    --project-margin-top: 0px;
    --project-margin-left: 0px;
    --project-margin-bottom: 0px;
    --project-margin-right: 0px;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.app-container {
    width: var(--project-width);
    height: var(--project-height);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    /*min-height: 100vh; !* will cover the 100% of viewport *!*/
    /*overflow: hidden;*/
/*    position: relative;*/
    /*padding-bottom: 100px; !* height of your footer *!*/
    /*color:#e9b716;*/
}

.app-body {
    width: var(--project-width);
    height: calc(var(--project-height) - (var(--navbar-height) + var(--footer-height)));
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}




/*.display-questions {
    max-width: 300px;
    margin: auto;
}*/

/*


.my-form-group-of-rows {
    font-family: var(--font-family);
    list-style-type: none; !* Remove bullets *!
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.my-form-row {
    font-family: var(--font-family);
    list-style-type: none; !* Remove bullets *!
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.my-form-input-elements {
    font-family: var(--font-family);
    list-style-type: none; !* Remove bullets *!
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--drk-grey);
    color: var(--milky-white);
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}



.submit-form {  !*version bezkoder*!
    max-width: 300px;
    margin: auto;}

.my-submit-form {
    width:calc(100% - 2*var(--form-left-right-margin));!*don't forget the white spaces after _ operator!'*!
    color: var(--drk-grey);
    !*    margin: auto;*!
    margin-top: var(--navbar-height);
    margin-bottom: 10px;
    margin-left: var(--form-left-right-margin);
    margin-right: var(--form-left-right-margin);
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    font-size: 12px;
}






.edit-form {
    max-width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

!*.container-items-list {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--milky-white);
    color: var(--drk-grey);
    width: 80%;
    !*height: 100px;*!
    margin-top: var(--navbar-height);
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);

}*!


table.display-questions-list {
    margin-top: var(--navbar-height);
    !*margin-top: 250px;*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
    !*border-collapse: collapse;*!
    font-size: 10px;
    !*width: 100%;*!
    color: var(--drk-grey);
    background-color: var(--milky-white);
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    table-layout: fixed;
    width: 800px;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    color: var(--drk-grey);
    background-color: var(--milky-white);
}





table.display-attached-files {
    !*margin-top: var(--navbar-height);*!
    !*margin-top: 250px;*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
    !*border-collapse: collapse;*!
    font-size: 10px;
    !*width: 100%;*!
    color: var(--drk-grey);
    background-color: var(--milky-white);
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    table-layout: fixed;
    width: 600px;
}

td.display-attached-files, th.display-attached-files {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    color: var(--drk-grey);
    background-color: var(--milky-white);
}



.actions:hover{
    cursor:pointer;
}


!*

.list-title {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    font-size: 12px;
    display: inline-block;
    text-align: left;
    !*background-color: var(--drk-grey);*!
    !*color: var(--milky-white);*!
    width: 100%;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 0%;
    margin-right: 0%;

}
*!

!*

ul.my-bullet-list {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: orange;
    color: var(--drk-grey);
    width:calc(100% - 2*var(--form-left-right-margin));!*don't forget the white spaces after _ operator!'*!
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0%;
    margin-right: 0%;
}
*!

!*.my-list-group-item {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    font-size: 10px;
    color: var(--drk-grey);
    width: 100%;
}

.my-list-group {
    !*font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!*!
    !*font-size: 10px;*!
    !*color: var(--drk-grey);*!
    !*width: 50%;*!
    list-style-type: none; !* Remove bullets *!
    padding: 0; !* Remove padding *!
    margin: 0; !* Remove margins *!
}*!


!*.display-answers {
    font-family: var(--font-family);
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--milky-white);
    color: var(--drk-grey);
    width: 80%;
    !*height: 100px;*!
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);

}*!


.message-on-successfully-submitted {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    font-size: 10px;
    color: var(--drk-grey);
    width: 50%;

}

!*
.description-container {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    !*height: 100px;*!
    margin-top: var(--navbar-height);
    border-top: 2px dotted var(--milky-white);
    border-bottom: 2px dotted var(--milky-white);
}
*!





table.attached-files-list-table {
    !*margin-top: var(--navbar-height);*!
    !*margin-top: 250px;*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
    !*border-collapse: collapse;*!
    font-size: 10px;
    width: 100%;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    table-layout: fixed;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    color: var(--drk-grey);
    background-color: var(--milky-white);
}




.project-initial-page-container {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: blue;
    color: var(--drk-grey);

    !*height: 100px;*!
    !*margin-top: var(--navbar-height);*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
}

.project-initial-page-header {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: blue;
;

    !*height: 100px;*!
    !*margin-top: var(--navbar-height);*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
}

.project-initial-page-body {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: row;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: blue;
    color: var(--drk-grey);

    !*height: 100px;*!
    !*margin-top: var(--navbar-height);*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
}
!*
.painting-summary-on-initial-page {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 200px;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: red;
    color: var(--drk-grey);

    !*height: 100px;*!
    !*margin-top: var(--navbar-height);*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
}

.painting-description-on-initial-page {
    font-family: var(--font-family);!*Helvetica Neue, Arial, sans-serif;*!
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--drk-grey);
    background-color: var(--milky-white);
    width: 100%;
    justify-content: flex-start;
    background-color: var(--milky-white);
    border-style: solid;
    border-width: thin;
    border-color: var(--milky-white);
    border-color: orange;
    color: var(--drk-grey);

    !*height: 100px;*!
    !*margin-top: var(--navbar-height);*!
    !*border-top: 2px dotted var(--milky-white);*!
    !*border-bottom: 2px dotted var(--milky-white);*!
}*!


.flex-centered-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    !*border-style: solid;*!
    !*border-width: thin;*!
    !*border-color: red;*!
    width: 100%;
}


*/
