:root {
    --drk-grey: #343a40;
    --light-grey: #d3d3d3;
    --milky-white: rgba(255,255,255,.5);
    --navbar-height:100px;
    --navbar-top:0;
    --navbar-left:0;
    --navbar-padding-left:0;
    --navbar-padding-right:48px;
    --footer-height:200px;
    --font-family: "Poppins", sans-serif;/*Helvetica Neue, Arial, sans-serif;*/
    --form-left-right-margin:10%;
    --painting-image-width-in-list:250px;
    --painting-image-height-in-list:450px;
    --project-width: 100 vw;
    --project-height: 100 vh;
    --project-height: 850px;
    --project-min-width: 1024px;
    --project-min-height: 800px;
    --project-margin-top: 0px;
    --project-margin-left: 0px;
    --project-margin-bottom: 0px;
    --project-margin-right: 0px;
    --default-font-size:11px;
}

#root {
    width: 100%;
    min-width: 100vw;
    height: 100%;
    min-height: 100vh;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.app-container {
    width: var(--project-width);
    height: var(--project-height);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;


}

.app-body {
    /*width: var(--project-width);*/
    /*height: calc(var(--project-height) - (var(--navbar-height) + var(--footer-height)));*/
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}


.nav-bar-container-grid {
    margin-top: 0px;
    width: var(--project-width);
    height: var(--navbar-height);
    font-family: var(--font-family);
    display: grid;
    color: var(--drk-grey);
    background-color:var(--milky-white);
    background-color: var(--light-grey);
    grid-gap: 0px;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border-style: solid;
    border-color: var(--light-grey);

}



.navbar-link {
    font-family: var(--font-family);
    font-family: var(--font-family);
    font-size: var(--default-font-size);
    border-style: solid;
    border-width: thin;
    border-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}




a.navbar-link, a.navbar-link:link, a.navbar-link:visited, a.navbar-link:focus, a.navbar-link:hover, a.navbar-link:active{
    color: var(--drk-grey); /*var(--milky-white);*/
    text-decoration:none;
    cursor: pointer;
}




.brand {
    grid-column-start: 5;
    grid-column-end: 15;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}

.home {
    grid-column-start: 30;
    grid-column-end: 38;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);

}

.moderator {
    grid-column-start: 40;
    grid-column-end: 48;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}


.administrator {
    grid-column-start: 50;
    grid-column-end: 58;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}


.user {
    grid-column-start: 60;
    grid-column-end: 68;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}

.profile {
    grid-column-start: 70;
    grid-column-end: 78;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}

.logout {
    grid-column-start: 80;
    grid-column-end: 88;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}

.login {
    grid-column-start: 70;
    grid-column-end: 78;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}


.signup {
    grid-column-start: 80;
    grid-column-end: 88;
    grid-row-start: 4;
    grid-row-end: 7;
    color: var(--drk-grey);
    background-color:var(--milky-white);
}

